Repository defenseunicorns/uds-core: changes, and which lint-staged commands are due for each by the changed paths.
All: codespell, yamllint -c .yamllint --no-warnings, npx pepr format --validate-only

fix: broken link in docs
  docs/configuration/pepr-policies.md
Due: codespell

chore: fix broken link in docs (#845)
  docs/configuration/pepr-policies.md
Due: codespell

fix: upgrade test logic and bundle deploy
  .github/actions/save-logs/action.yaml
  e2e/playwright/playwright.config.ts
  src/keycloak/chart/templates/secret-admin-password.yaml
  src/keycloak/chart/templates/statefulset.yaml
  src/keycloak/chart/values.schema.json
  src/keycloak/common/zarf.yaml
  tasks/deploy.yaml
  tasks/test.yaml
Due: codespell, yamllint -c .yamllint --no-warnings, npx pepr format --validate-only

update version ref
  .github/bundles/eks/uds-bundle.yaml
  .github/bundles/rke2/uds-bundle.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

specify output dir for core zarf package build
  .github/workflows/test-eks.yaml
  .github/workflows/test-rke2.yaml
  tasks/create.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

update task
  tasks/create.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

update create command
  tasks/create.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

update core path ref in bundles
  .github/bundles/eks/uds-bundle.yaml
  .github/bundles/rke2/uds-bundle.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

update path
  tasks/create.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

switch backend to s3
  .github/test-infra/aws/rke2/versions.tf
Due: codespell

fix output, test rke2 only for now
  .github/test-infra/aws/rke2/outputs.tf
  .github/workflows/nightly-testing.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

batch updates
  src/pepr/operator/controllers/keycloak/authservice/config.spec.ts
  src/pepr/operator/controllers/keycloak/authservice/config.ts
Due: codespell, npx pepr format --validate-only

update vars
  .github/test-infra/aws/rke2/variables.tf
Due: codespell

more corrections
  .github/test-infra/aws/rke2/iam.tf
  .github/test-infra/aws/rke2/main.tf
  .github/test-infra/aws/rke2/storage.tf
Due: codespell

fix: clean up
  .github/workflows/test-eks.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

var changes
  .github/test-infra/aws/rke2/iam.tf
  .github/test-infra/aws/rke2/main.tf
  .github/test-infra/aws/rke2/outputs.tf
  .github/test-infra/aws/rke2/storage.tf
  .github/test-infra/aws/rke2/variables.tf
Due: codespell

fix subnet filter (hardcode to zone c)
  .github/test-infra/aws/rke2/data.tf
Due: codespell

dynamic name for statestore oidc bucket
  .github/test-infra/aws/rke2/irsa.tf
Due: codespell

more dynamic names, default tags
  .github/test-infra/aws/rke2/irsa.tf
  .github/test-infra/aws/rke2/main.tf
  .github/test-infra/aws/rke2/versions.tf
Due: codespell

tf fmt, update resource names
  .github/test-infra/aws/rke2/iam.tf
  .github/test-infra/aws/rke2/main.tf
  .github/test-infra/aws/rke2/modules/storage/irsa/main.tf
  .github/test-infra/aws/rke2/terraform.tfvars
Due: codespell

more dynamic resource names
  .github/test-infra/aws/rke2/storage.tf
Due: codespell

add comment, update `local.cluster_name`
  .github/test-infra/aws/rke2/irsa.tf
  .github/test-infra/aws/rke2/main.tf
  .github/test-infra/aws/rke2/storage.tf
Due: codespell

fix more naming collisions
  .github/test-infra/aws/rke2/iam.tf
Due: codespell

add `get-kubeconfig.sh`
  .github/test-infra/aws/rke2/outputs.tf
  .github/test-infra/aws/rke2/scripts/get-kubeconfig.sh
Due: codespell

move apply out of function
  src/pepr/operator/controllers/keycloak/authservice/config.ts
Due: codespell, npx pepr format --validate-only

increase timeout
  .github/test-infra/aws/rke2/scripts/get-kubeconfig.sh
  tasks/iac.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

[ci skip] cleanup
  .github/bundles/eks/uds-bundle.yaml
  .github/test-infra/aws/rke2/outputs.tf
  .github/test-infra/aws/rke2/scripts/get-kubeconfig.sh
Due: codespell, yamllint -c .yamllint --no-warnings

uds zarf tools kubectl
  tasks/iac.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

simplify promise chain
  src/pepr/operator/controllers/keycloak/authservice/config.ts
Due: codespell, npx pepr format --validate-only

fix tests
  src/pepr/operator/controllers/keycloak/authservice/config.spec.ts
  src/pepr/operator/controllers/keycloak/authservice/config.ts
Due: codespell, npx pepr format --validate-only

debug
  tasks/iac.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

update path
  .github/test-infra/aws/rke2/scripts/get-kubeconfig.sh
Due: codespell

spelling
  src/pepr/uds-operator-config/values.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

chore: remove type requirement, update helper to properly check internal db
  .github/bundles/uds-bundle.yaml
  .github/bundles/uds-config.yaml
  .github/test-infra/rds-iac/output.tf
  bundles/k3d-standard/README.md
  bundles/k3d-standard/uds-bundle.yaml
  bundles/k3d-standard/uds-ha-config.yaml
  docs/configuration/resource-configuration-and-ha.md
  src/grafana/chart/templates/_helpers.tpl
  src/grafana/chart/templates/secret-postgres.yaml
  src/grafana/chart/templates/uds-package.yaml
  src/grafana/chart/values.yaml
  tasks/iac.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

edit kubeconfig path
  .github/test-infra/aws/rke2/scripts/get-kubeconfig.sh
Due: codespell

more debug
  tasks/iac.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

fix: postgres ssl mode, backend config
  .github/test-infra/rds-iac/main.tf
  bundles/k3d-standard/uds-bundle.yaml
  bundles/k3d-standard/uds-ha-config.yaml
  src/grafana/values/values.yaml
  tasks/iac.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

debug output
  .github/workflows/test-rke2.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

try exporting to gh env
  .github/test-infra/aws/rke2/scripts/get-kubeconfig.sh
Due: codespell

Path conditions:
  codespell: any of: *
  yamllint -c .yamllint --no-warnings: any of: *.yaml
  npx pepr format --validate-only: any of: *.ts
