Repository defenseunicorns/uds-core: changes, and which lint-staged commands are due for each by the changed paths.
All: codespell, yamllint -c .yamllint --no-warnings, npx pepr format --validate-only

docs: add dns setup (#767)
  bundles/k3d-slim-dev/README.md
  bundles/k3d-standard/README.md
  docs/deployment/dns.md
Due: codespell

fix: ensure istio sidecar is killed if job fails (#813)
  src/pepr/istio/index.ts
Due: codespell, npx pepr format --validate-only

fix: revert test app version to fix CI failures (#815)
  src/test/app-admin.yaml
  src/test/app-authservice-tenant.yaml
  src/test/zarf.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

chore: pepr policy doc (#814)
  docs/configuration/pepr-policies.md
Due: codespell

feat: exposes tls version for dev bundles (#809)
  bundles/k3d-slim-dev/uds-bundle.yaml
  bundles/k3d-standard/uds-bundle.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

fix: eks iac issues, document storage class pre-reqs (#812)
  .github/bundles/uds-bundle.yaml
  .gitignore
  docs/deployment/prerequisites.md
  tasks/iac.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

swapped source url, double checked generate command reference fix tswift blank spaces
  compliance/validations/istio/all-namespaces-istio-injected/tests.yaml
  compliance/validations/istio/all-namespaces-istio-injected/validation.yaml
  compliance/validations/istio/all-pods-istio-injected/tests.yaml
  compliance/validations/istio/all-pods-istio-injected/validation.yaml
  compliance/validations/istio/authorized-keycloak-access/tests.yaml
  compliance/validations/istio/authorized-keycloak-access/validation.yaml
  compliance/validations/istio/authorized-traffic-egress/validation.yaml
  compliance/validations/istio/check-istio-admin-gateway-and-usage/tests.yaml
  compliance/validations/istio/check-istio-admin-gateway-and-usage/validation.yaml
  compliance/validations/istio/check-istio-logging-all-traffic/tests.yaml
  compliance/validations/istio/check-istio-logging-all-traffic/validation.yaml
  compliance/validations/istio/communications-terminated-after-inactivity/validation.yaml
  compliance/validations/istio/egress-gateway-exists-and-configured/validation.yaml
  compliance/validations/istio/external-traffic-managed/validation.yaml
  compliance/validations/istio/fips-evaluation/validation.yaml
  compliance/validations/istio/gateway-configuration-check/tests.yaml
  compliance/validations/istio/gateway-configuration-check/validation.yaml
  compliance/validations/istio/healthcheck/tests.yaml
  compliance/validations/istio/healthcheck/validation.yaml
  compliance/validations/istio/ingress-traffic-encrypted/tests.yaml
  compliance/validations/istio/ingress-traffic-encrypted/validation.yaml
  compliance/validations/istio/metrics-logging-configured/tests.yaml
  compliance/validations/istio/metrics-logging-configured/validation.yaml
  compliance/validations/istio/prometheus-annotations-validation/tests.yaml
  compliance/validations/istio/prometheus-annotations-validation/validation.yaml
  compliance/validations/istio/rbac-enforcement-check/tests.yaml
  compliance/validations/istio/rbac-for-approved-personnel/validation.yaml
  compliance/validations/istio/request-authentication-and-auth-policies-configured-DEPRECATED/tests.yaml
  compliance/validations/istio/request-authentication-and-auth-policies-configured-DEPRECATED/validation.yaml
  compliance/validations/istio/secure-communication-with-istiod/tests.yaml
  compliance/validations/istio/secure-communication-with-istiod/validation.yaml
  compliance/validations/istio/tls-origination-at-egress/validation.yaml
  compliance/validations/istio/tracing-logging-support/tests.yaml
  compliance/validations/istio/tracing-logging-support/validation.yaml
  src/istio/oscal-component.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

stragglers
  compliance/validations/istio/all-namespaces-istio-injected/tests.yaml
  compliance/validations/istio/all-namespaces-istio-injected/validation.yaml
  compliance/validations/istio/authorization-policies-require-authentication-DEPRECATED/validation.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

spelling fix
  src/istio/oscal-component.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

feat: grafana ha
  bundles/k3d-standard/README.md
  bundles/k3d-standard/uds-bundle.yaml
  bundles/k3d-standard/uds-ha-config.yaml
  docs/configuration/resource-configuration-and-ha.md
  src/grafana/chart/templates/_helpers.tpl
  src/grafana/chart/templates/secret-postgres.yaml
  src/grafana/chart/templates/uds-package.yaml
  src/grafana/chart/values.yaml
  src/grafana/values/values.yaml
  tasks.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

tune this for speed
  packages/frozen-dev/freeze.sh
  packages/frozen-dev/zarf.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

wip: rds ci testing
  .github/bundles/uds-bundle.yaml
  .github/bundles/uds-config.yaml
  .github/test-infra/rds-iac/grafana.tf
  .github/test-infra/rds-iac/main.tf
  .github/test-infra/rds-iac/output.tf
  .github/test-infra/rds-iac/variables.tf
  .github/workflows/nightly-testing.yaml
  tasks/iac.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

fix: cleanup
  bundles/k3d-standard/uds-bundle.yaml
  src/grafana/values/values.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

wip: rds grafana ha ci
  .github/test-infra/rds-iac/grafana.tf
  .github/test-infra/rds-iac/main.tf
  .github/test-infra/rds-iac/variables.tf
Due: codespell

wip: fix string vars
  .github/test-infra/rds-iac/variables.tf
Due: codespell

wip: remove vars
  .github/test-infra/rds-iac/variables.tf
Due: codespell

default deny pre-authservice
  src/pepr/config.ts
  src/pepr/operator/controllers/keycloak/authservice/authorization-policy.ts
  src/pepr/operator/controllers/keycloak/authservice/authservice.spec.ts
  src/pepr/operator/controllers/keycloak/authservice/authservice.ts
  src/pepr/operator/controllers/keycloak/authservice/config.ts
  src/pepr/operator/controllers/keycloak/authservice/policy-builder.ts
  src/pepr/operator/controllers/keycloak/authservice/types.ts
  src/pepr/operator/controllers/utils.ts
  src/pepr/operator/reconcilers/index.ts
  src/pepr/operator/reconcilers/package-reconciler.ts
  src/pepr/uds-operator-config/values.yaml
  src/pepr/zarf.yaml
Due: codespell, yamllint -c .yamllint --no-warnings, npx pepr format --validate-only

fix: missing definition
  .github/test-infra/rds-iac/main.tf
Due: codespell

fix: update naming
  .github/test-infra/rds-iac/grafana.tf
  .github/test-infra/rds-iac/main.tf
  .github/test-infra/rds-iac/output.tf
  .github/test-infra/rds-iac/variables.tf
Due: codespell

fix: rds subnet group
  .github/test-infra/rds-iac/main.tf
Due: codespell

fix: another attempt
  .github/test-infra/rds-iac/main.tf
Due: codespell

Updated pepr watch limit to 60s
  src/pepr/uds-operator-config/values.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

fix: remove az
  .github/test-infra/rds-iac/main.tf
Due: codespell

Added PEPR_RELIST_INTERVAL_SECONDS per @mjnagel rec
  src/pepr/uds-operator-config/values.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

remove unused method
  src/pepr/operator/controllers/utils.ts
  src/pepr/operator/reconcilers/index.spec.ts
Due: codespell, npx pepr format --validate-only

fix: lots of things
  .github/test-infra/rds-iac/main.tf
  src/grafana/chart/templates/_helpers.tpl
  src/grafana/chart/templates/secret-postgres.yaml
  src/grafana/values/values.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

chore: updated pepr watch limit to 60s (#840)
  src/pepr/uds-operator-config/values.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

swap to checkpoint
  .gitignore
  packages/checkpoint-dev/README.md
  packages/checkpoint-dev/checkpoint.sh
  packages/checkpoint-dev/zarf.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

More work on annotations, mutate copy label in dest secret
  src/pepr/operator/secrets.ts
Due: codespell, npx pepr format --validate-only

add release workflow
  .github/workflows/checkpoint.yaml
  .github/workflows/tag-and-release.yaml
  tasks/create.yaml
  tasks/deploy.yaml
  tasks/publish.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

undo dumb sarif
  .vscode/settings.json
Due: codespell

add testing
  .github/workflows/checkpoint.yaml
  tasks/deploy.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

fix: maybe things will work
  src/grafana/chart/templates/_helpers.tpl
  tasks/iac.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

add id token write back
  .github/workflows/checkpoint.yaml
  .github/workflows/tag-and-release.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

install uds wo brew
  .github/actions/setup/action.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

Path conditions:
  codespell: any of: *
  yamllint -c .yamllint --no-warnings: any of: *.yaml
  npx pepr format --validate-only: any of: *.ts
