Repository defenseunicorns/uds-core: changes, and which lint-staged commands are due for each by the changed paths.
All: codespell, yamllint -c .yamllint --no-warnings, npx pepr format --validate-only

.lintstagedrc.json:

{
    "*": [
        "codespell"
    ],
    "*.yaml": [
        "yamllint -c .yamllint --no-warnings"
    ],
    "*.ts": [
        "npx pepr format --validate-only"
    ]
}

fix: task ref
  tasks/create.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

make it pretty
  LICENSE.md
Due: codespell

formatting
  LICENSE-commercial.md
  LICENSE.md
Due: codespell

CODEOWNERS update
  CODEOWNERS
Due: codespell

CODEOWNERS update2
  CODEOWNERS
Due: codespell

words
  src/neuvector/broken-test.txt
Due: codespell

Rename LICENSE.md to LICENSE-dual.md
  LICENSE-dual.md
Due: codespell

Delete LICENSE-commercial.md
  LICENSE-commercial.md
Due: codespell

Update and rename LICENSE-dual.md to LICENSE-commercial.md
  LICENSE-commercial.md
  LICENSE-dual.md
Due: codespell

Rename LICENSE-commercial.md to LICENSE-dual.md
  LICENSE-dual.md
Due: codespell

Rename LICENSE-agpl-v3.md to LICENSE.md
  LICENSE.md
Due: codespell

Rename LICENSE-dual.md to LICENSING.md
  LICENSING.md
Due: codespell

Update LICENSING.md
  LICENSING.md
Due: codespell

chore: cleanup license parsing for github (#881)
  LICENSE-agpl-v3.md
  LICENSE.md
  LICENSING.md
Due: codespell

chore: free runner space in setup action
  .github/actions/setup/action.yaml
  src/neuvector/README.md
Due: codespell, yamllint -c .yamllint --no-warnings

fix: add shell
  .github/actions/setup/action.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

chore: switch runner size
  .github/actions/setup/action.yaml
  .github/workflows/test.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

Update docs/configuration/uds-operator.md
  docs/configuration/uds-operator.md
Due: codespell

fix: snapshot ci version modification and tasks for publish (#877)
  .github/workflows/publish.yaml
  tasks.yaml
  tasks/create.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

fix: handle anywhere network target ip limitations for cilium
  src/keycloak/chart/templates/uds-package.yaml
  src/pepr/operator/controllers/network/generate.ts
  src/pepr/operator/controllers/network/generators/anywhere.ts
Due: codespell, yamllint -c .yamllint --no-warnings, npx pepr format --validate-only

fix(ci): switch to larger runners to resolve ci disk space issues (#882)
  .github/workflows/test.yaml
  src/neuvector/README.md
Due: codespell, yamllint -c .yamllint --no-warnings

feat: init cr doc generation
  docs/generated/_index.md
  docs/generated/exemption-v1alpha1-cr.md
  docs/generated/package-v1alpha1-cr.md
  package-lock.json
  package.json
  src/pepr/docs-gen/main.ts
  src/pepr/tasks.yaml
Due: codespell, yamllint -c .yamllint --no-warnings, npx pepr format --validate-only

feat: add service accounts options to sso (#852)
  docs/configuration/uds-operator.md
  src/pepr/operator/crd/generated/package-v1alpha1.ts
  src/pepr/operator/crd/sources/package/v1alpha1.ts
  src/pepr/operator/crd/validators/package-validator.spec.ts
  src/pepr/operator/crd/validators/package-validator.ts
Due: codespell, npx pepr format --validate-only

chore: regroup 'support dependencies' in renovate config
  renovate.json
Due: codespell

chore: regroup 'support dependencies' in renovate config (#885)
  renovate.json
Due: codespell

feat: add local lula compose task
  .github/workflows/test.yaml
  tasks.yaml
  tasks/test.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

removed blank line
  tasks/test.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

fix: support for anywhere network policies in cilium (#884)
  src/keycloak/chart/templates/uds-package.yaml
  src/pepr/operator/controllers/network/generate.ts
  src/pepr/operator/controllers/network/generators/anywhere.ts
Due: codespell, yamllint -c .yamllint --no-warnings, npx pepr format --validate-only

Rebase updated docs structure
  adrs/.gitkeep
  adrs/0001-record-architecture-decisions.md
  adrs/0002-uds-core-functional-layers.md
  docs/application-baseline.md
  docs/configuration/_index.md
  docs/configuration/istio/_index.md
  docs/deployment/_index.md
  docs/deployment/uds-deploy.md
  docs/development/_index.md
  docs/reference/UDS Core/distribution-support.md
  docs/reference/UDS Core/dns.md
  docs/reference/UDS Core/flavor-specific-development-notes.md
  docs/reference/UDS Core/overview.md
  docs/reference/UDS Core/prerequisites.md
  docs/reference/configuration/ingress.md
  docs/reference/configuration/pepr-policies.md
  docs/reference/configuration/resource-configuration-and-ha.md
  docs/reference/configuration/uds-configure-policy-exemptions.md
  docs/reference/configuration/uds-monitoring-metrics.md
  docs/reference/configuration/uds-operator.md
  docs/reference/configuration/uds-user-groups.md
  docs/reference/deployment/flavors.md
Due: codespell

chore: fix upgrade path for functional layers, add doc for usage
  docs/deployment/functional-layers.md
  src/istio/common/chart/.helmignore
  src/istio/common/chart/Chart.yaml
  src/istio/common/chart/templates/envoy-filters.yaml
  src/istio/common/chart/templates/peer-authentication.yaml
  src/istio/common/chart/templates/pepr-istio-config.yaml
  src/istio/common/chart/values.yaml
  src/istio/common/zarf.yaml
  src/pepr/zarf.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

Update docs/deployment/functional-layers.md
  docs/deployment/functional-layers.md
Due: codespell

Corrections of missing text
  docs/reference/UDS Core/distribution-support.md
  docs/reference/configuration/ingress.md
Due: codespell

fix: big updates
  docs/generated/exemptions-v1alpha1-cr.md
  docs/generated/packages-v1alpha1-cr.md
  src/pepr/docs-gen/main.ts
  src/pepr/tasks.yaml
Due: codespell, yamllint -c .yamllint --no-warnings, npx pepr format --validate-only

Update ingress.md
  docs/reference/configuration/ingress.md
Due: codespell

fix: big value
  docs/generated/exemption-v1alpha1-cr.md
  docs/generated/exemptions-v1alpha1-cr.md
  docs/generated/package-v1alpha1-cr.md
  docs/generated/packages-v1alpha1-cr.md
  src/pepr/docs-gen/main.ts
Due: codespell, npx pepr format --validate-only

chore: password for kc admin
  e2e/playwright/grafana.test.ts
  e2e/playwright/playwright.config.ts
  src/grafana/tasks.yaml
  src/keycloak/common/zarf.yaml
  src/keycloak/values/common-values.yaml
  src/keycloak/zarf.yaml
  tasks/deploy.yaml
  tasks/utils.yaml
Due: codespell, yamllint -c .yamllint --no-warnings, npx pepr format --validate-only
