Repository defenseunicorns/uds-core: changes, and which lint-staged commands are due for each by the changed paths.
All: codespell, yamllint -c .yamllint --no-warnings, npx pepr format --validate-only

steal micah docs
  packages/base/README.md
  packages/identity-authorization/README.md
Due: codespell

chore: cleanup unused code for single test mode
  packages/base/README.md
  src/pepr/config.ts
  src/pepr/operator/controllers/keycloak/client-sync.ts
  src/pepr/operator/index.ts
  src/pepr/operator/reconcilers/package-reconciler.ts
  src/pepr/uds-operator-config/values.yaml
  src/pepr/zarf.yaml
Due: codespell, yamllint -c .yamllint --no-warnings, npx pepr format --validate-only

chore: add layer deps logic
  packages/base/zarf.yaml
  packages/identity-authorization/zarf.yaml
  tasks.yaml
  tasks/publish.yaml
  tasks/test.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

fix: task path
  tasks/test.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

fix: release-please config
  release-please-config.json
Due: codespell

feat: add base and identity layers (#853)
  .github/actions/setup/action.yaml
  .github/filters.yaml
  .github/workflows/compliance.yaml
  .github/workflows/publish.yaml
  .github/workflows/pull-request-conditionals.yaml
  .github/workflows/slim-dev-test.yaml
  .github/workflows/test.yaml
  README.md
  bundles/k3d-slim-dev/uds-bundle.yaml
  docs/deployment/uds-deploy.md
  packages/base/README.md
  packages/base/tasks.yaml
  packages/base/zarf.yaml
  packages/identity-authorization/README.md
  packages/identity-authorization/tasks.yaml
  packages/identity-authorization/zarf.yaml
  packages/slim-dev/README.md
  packages/standard/zarf.yaml
  release-please-config.json
  src/pepr/config.ts
  src/pepr/logger.ts
  src/pepr/operator/controllers/keycloak/client-sync.ts
  src/pepr/operator/index.ts
  src/pepr/operator/reconcilers/package-reconciler.ts
  src/pepr/uds-operator-config/values.yaml
  src/pepr/zarf.yaml
  src/velero/README.md
  tasks.yaml
  tasks/create.yaml
  tasks/deploy.yaml
  tasks/publish.yaml
  tasks/test.yaml
Due: codespell, yamllint -c .yamllint --no-warnings, npx pepr format --validate-only

fix: layers
  .github/actions/setup/action.yaml
  .github/filters.yaml
  .github/workflows/publish.yaml
  .github/workflows/slim-dev-test.yaml
  packages/base/README.md
  packages/runtime-security/README.md
  packages/runtime-security/tasks.yaml
  packages/runtime-security/zarf.yaml
  packages/standard/zarf.yaml
  packages/ui/README.md
  packages/ui/tasks.yaml
  packages/ui/zarf.yaml
  release-please-config.json
  src/istio/values/registry1-values.yaml
  src/istio/values/unicorn-values.yaml
  src/istio/values/upstream-values.yaml
  src/pepr/config.ts
  src/pepr/operator/controllers/keycloak/client-sync.ts
  src/pepr/operator/index.ts
  src/pepr/operator/reconcilers/package-reconciler.ts
  src/pepr/uds-operator-config/values.yaml
  src/pepr/zarf.yaml
  src/velero/README.md
  tasks.yaml
  tasks/deploy.yaml
  tasks/publish.yaml
  tasks/test.yaml
Due: codespell, yamllint -c .yamllint --no-warnings, npx pepr format --validate-only

Update packages/checkpoint-dev/zarf.yaml
  packages/checkpoint-dev/zarf.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

chore: runtime security layer
  .github/filters.yaml
  packages/standard/zarf.yaml
  release-please-config.json
  src/neuvector/zarf.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

wip: cleanup
  .github/filters.yaml
  .github/workflows/test.yaml
  src/istio/common/zarf.yaml
  tasks/create.yaml
  tasks/test.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

feat: add logging functional layer
  .github/filters.yaml
  .github/workflows/publish.yaml
  packages/logging/README.md
  packages/logging/tasks.yaml
  packages/logging/zarf.yaml
  release-please-config.json
Due: codespell, yamllint -c .yamllint --no-warnings

fix: typo
  packages/backup-restore/zarf.yaml
  packages/runtime-security/zarf.yaml
  packages/ui/zarf.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

fix: clean up serviceAccountsEnabled features
  docs/configuration/uds-operator.md
  src/pepr/operator/crd/validators/package-validator.spec.ts
  src/pepr/operator/crd/validators/package-validator.ts
Due: codespell, npx pepr format --validate-only

fix: add domain variable
  src/neuvector/zarf.yaml
  src/runtime/zarf.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

feat: backup and restore layer, ui layer, runtime security layer (#862)
  .github/filters.yaml
  .github/workflows/publish.yaml
  packages/backup-restore/README.md
  packages/backup-restore/tasks.yaml
  packages/backup-restore/zarf.yaml
  packages/runtime-security/README.md
  packages/runtime-security/tasks.yaml
  packages/runtime-security/zarf.yaml
  packages/standard/zarf.yaml
  packages/ui/README.md
  packages/ui/tasks.yaml
  packages/ui/zarf.yaml
  release-please-config.json
  src/neuvector/zarf.yaml
  src/runtime/zarf.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

feat: add logging functional layer (#861)
  .github/filters.yaml
  .github/workflows/publish.yaml
  packages/logging/README.md
  packages/logging/tasks.yaml
  packages/logging/zarf.yaml
  packages/standard/zarf.yaml
  release-please-config.json
Due: codespell, yamllint -c .yamllint --no-warnings

feat: add metrics-server functional layer
  .github/filters.yaml
  .github/workflows/publish.yaml
  packages/metrics-server/README.md
  packages/metrics-server/tasks.yaml
  packages/metrics-server/zarf.yaml
  packages/standard/zarf.yaml
  release-please-config.json
Due: codespell, yamllint -c .yamllint --no-warnings

fix: revert upstream one patch version
  src/grafana/values/upstream-values.yaml
  src/grafana/zarf.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

feat: add metrics-server functional layer (#865)
  .github/filters.yaml
  .github/workflows/publish.yaml
  packages/metrics-server/README.md
  packages/metrics-server/tasks.yaml
  packages/metrics-server/zarf.yaml
  packages/standard/zarf.yaml
  release-please-config.json
Due: codespell, yamllint -c .yamllint --no-warnings

chore: monitoring layer
  .github/filters.yaml
  .github/workflows/publish.yaml
  packages/monitoring/readme.md
  packages/monitoring/tasks.yaml
  packages/monitoring/zarf.yaml
  packages/standard/zarf.yaml
  release-please-config.json
Due: codespell, yamllint -c .yamllint --no-warnings

chore: fix lint failure
  packages/monitoring/tasks.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

fix: add dependency on `identity-authorization`
  packages/monitoring/zarf.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

[ci skip] docs: update readme
  packages/monitoring/readme.md
Due: codespell

irsa fixes
  .github/bundles/rke2/uds-bundle.yaml
  .github/test-infra/aws/rke2/modules/storage/irsa/data.tf
  .github/test-infra/aws/rke2/modules/storage/main.tf
  tasks/iac.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

[ci skip] linting fix
  .github/bundles/rke2/uds-bundle.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

tf fmt
  .github/test-infra/aws/rke2/data.tf
  .github/test-infra/aws/rke2/modules/storage/main.tf
Due: codespell

feat: add monitoring layer (#872)
  .github/filters.yaml
  .github/workflows/publish.yaml
  packages/monitoring/readme.md
  packages/monitoring/tasks.yaml
  packages/monitoring/zarf.yaml
  packages/standard/zarf.yaml
  release-please-config.json
Due: codespell, yamllint -c .yamllint --no-warnings

chore: update tf version constraint
  .github/test-infra/aws/rke2/versions.tf
Due: codespell

chore: update tf version constraint in storage module
  .github/test-infra/aws/rke2/modules/storage/versions.tf
Due: codespell

Apply suggestions from code review
  docs/configuration/uds-operator.md
Due: codespell

wip: single layer test, video
  e2e/playwright/grafana.test.ts
  e2e/playwright/playwright.config.ts
  e2e/playwright/uds.config.ts
  renovate.json
  src/grafana/tasks.yaml
  tasks/test.yaml
Due: codespell, yamllint -c .yamllint --no-warnings, npx pepr format --validate-only

chore(docs): remove duplicate keycloak secret generation
  docs/configuration/uds-operator.md
Due: codespell

wip: working func layers test
  packages/monitoring/tasks.yaml
  src/keycloak/common/zarf.yaml
  src/keycloak/values/common-values.yaml
  src/keycloak/zarf.yaml
  tasks/deploy.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

wip: switch to pepr RC and http2 watch
  package-lock.json
  package.json
  src/pepr/uds-operator-config/values.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

fix envs/yqs
  .github/workflows/publish.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

fix: tasks calls for snapshot
  .github/workflows/publish.yaml
  tasks.yaml
  tasks/create.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

fix: task ref
  tasks/create.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

Path conditions:
  codespell: any of: *
  yamllint -c .yamllint --no-warnings: any of: *.yaml
  npx pepr format --validate-only: any of: *.ts
