Repository defenseunicorns/uds-core: changes, and which lint-staged commands are due for each by the changed paths.
All: codespell, yamllint -c .yamllint --no-warnings, npx pepr format --validate-only

.lintstagedrc.json:

{
    "*": [
        "codespell"
    ],
    "*.yaml": [
        "yamllint -c .yamllint --no-warnings"
    ],
    "*.ts": [
        "npx pepr format --validate-only"
    ]
}

error package if sso is not enabled
  src/pepr/operator/reconcilers/package-reconciler.ts
Due: codespell, npx pepr format --validate-only

feat: add service accounts options to sso
  docs/configuration/uds-operator.md
  src/pepr/operator/crd/generated/package-v1alpha1.ts
  src/pepr/operator/crd/sources/package/v1alpha1.ts
  src/pepr/operator/crd/validators/package-validator.spec.ts
  src/pepr/operator/crd/validators/package-validator.ts
Due: codespell, npx pepr format --validate-only

[ci skip] cleanup
  tasks/iac.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

fix dup resources in rds tf, run both eks and rke2 workflows together
  .github/test-infra/aws/eks/rds.tf
  .github/workflows/nightly-testing.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

fix permissions
  packages/checkpoint-dev/checkpoint.sh
  tasks/deploy.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

add permissions for control plane node, rm unused file
  .github/test-infra/aws/eks/versions.tf
  .github/test-infra/aws/rke2/iam.tf
Due: codespell

fix: ensure no public service account
  src/pepr/operator/crd/validators/package-validator.ts
Due: codespell, npx pepr format --validate-only

update tasks to use more variables and inputs
  .github/workflows/test.yaml
  tasks.yaml
  tasks/create.yaml
  tasks/deploy.yaml
  tasks/test.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

shuffle tasks around for inputs
  .github/workflows/publish.yaml
  tasks.yaml
  tasks/create.yaml
  tasks/deploy.yaml
  tasks/publish.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

fix: add serviceAccountsEnabled to allow public client test
  src/pepr/operator/crd/validators/package-validator.spec.ts
Due: codespell, npx pepr format --validate-only

fix tfvar name in env setup
  .github/workflows/test-eks.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

fix docker load
  packages/checkpoint-dev/zarf.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

[ci skip] update init version in rke2 bundle
  .github/bundles/rke2/uds-bundle.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

[ci skip] add missing permissions for rke2 cluster nodes
  .github/test-infra/aws/rke2/iam.tf
Due: codespell

chore: switch publish logic to task v github workflow
  .github/workflows/publish.yaml
  packages/identity-authorization/zarf.yaml
  tasks/publish.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

formatting
  src/pepr/operator/reconcilers/package-reconciler.ts
Due: codespell, npx pepr format --validate-only

fix: multiarch uds-cli
  .github/actions/setup/action.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

[ci skip] cleanup
  .github/workflows/nightly-testing.yaml
  tasks/iac.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

fix: lint, slim-dev, suffix
  .github/workflows/publish.yaml
  packages/base/tasks.yaml
  packages/identity-authorization/tasks.yaml
  tasks/create.yaml
  tasks/test.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

[ci skip] nit: cleanup things
  .github/test-infra/aws/rke2/iam.tf
  .github/test-infra/aws/rke2/irsa.tf
  .github/test-infra/aws/rke2/outputs.tf
  .github/test-infra/aws/rke2/storage.tf
  .github/test-infra/aws/rke2/variables.tf
Due: codespell

[ci skip] nit: file rename
  .github/test-infra/aws/eks/versions.tf
Due: codespell

test again; other nit things
  .github/test-infra/aws/rke2/main.tf
  .github/workflows/test-rke2.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

[ci skip] linting
  .github/bundles/rke2/uds-bundle.yaml
  .github/test-infra/aws/rke2/metallb.yaml
  .github/workflows/nightly-testing.yaml
  .github/workflows/test-rke2.yaml
  tasks/create.yaml
  tasks/iac.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

chore: revert workflow
  .github/workflows/publish.yaml
  tasks.yaml
  tasks/publish.yaml
  tasks/test.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

fix: filter logic
  .github/filters.yaml
  .github/workflows/pull-request-conditionals.yaml
  .github/workflows/slim-dev-test.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

cleanup some things
  .github/test-infra/aws/eks/versions.tf
  .github/test-infra/aws/rke2/modules/storage/irsa/data.tf
  .github/test-infra/aws/rke2/modules/storage/irsa/variables.tf
  .github/test-infra/aws/rke2/modules/storage/main.tf
  .github/test-infra/aws/rke2/modules/storage/variables.tf
Due: codespell

chore: dev-setup fix, layers cleanup, ...
  .github/workflows/compliance.yaml
  README.md
  docs/deployment/uds-deploy.md
  src/istio/common/zarf.yaml
  src/istio/values/registry1-values.yaml
  src/istio/values/unicorn-values.yaml
  src/istio/values/upstream-values.yaml
  src/pepr/logger.ts
  src/pepr/operator/index.ts
  src/velero/README.md
  tasks.yaml
Due: codespell, yamllint -c .yamllint --no-warnings, npx pepr format --validate-only

fix var
  .github/test-infra/aws/rke2/modules/storage/irsa/main.tf
Due: codespell

add run id tag
  .github/test-infra/aws/rke2/main.tf
  .github/test-infra/aws/rke2/variables.tf
  .github/workflows/test-rke2.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

build path fixes
  .github/bundles/eks/uds-bundle.yaml
  .github/bundles/rke2/uds-bundle.yaml
  tasks/create.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

wip: bring in latest base layer changes
  .github/actions/setup/action.yaml
  .github/filters.yaml
  .github/workflows/compliance.yaml
  .github/workflows/publish.yaml
  .github/workflows/pull-request-conditionals.yaml
  .github/workflows/slim-dev-test.yaml
  README.md
  bundles/k3d-slim-dev/uds-bundle.yaml
  docs/deployment/uds-deploy.md
  packages/base/tasks.yaml
  packages/base/zarf.yaml
  packages/identity-authorization/tasks.yaml
  packages/identity-authorization/zarf.yaml
  packages/slim-dev/README.md
  packages/standard/zarf.yaml
  src/istio/common/zarf.yaml
  src/istio/values/registry1-values.yaml
  src/istio/values/unicorn-values.yaml
  src/istio/values/upstream-values.yaml
  src/pepr/config.ts
  src/pepr/logger.ts
  src/pepr/operator/index.ts
  src/pepr/operator/reconcilers/package-reconciler.ts
  src/velero/README.md
  tasks.yaml
  tasks/create.yaml
  tasks/deploy.yaml
  tasks/publish.yaml
  tasks/test.yaml
Due: codespell, yamllint -c .yamllint --no-warnings, npx pepr format --validate-only

chore: revert dev-setup changes
  src/istio/common/zarf.yaml
  src/istio/values/registry1-values.yaml
  src/istio/values/unicorn-values.yaml
  src/istio/values/upstream-values.yaml
  tasks.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

chore: use uds cli action
  .github/actions/setup/action.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

dont use distro-specific dir for core package
  .github/bundles/eks/uds-bundle.yaml
  .github/bundles/rke2/uds-bundle.yaml
  tasks/create.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

rm unneeded step
  .github/workflows/test-rke2.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

no --set K8S_DISTRO on pkg create
  .github/workflows/test-eks.yaml
  .github/workflows/test-rke2.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

dont need `-n` in echo
  tasks/iac.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

use most recent patch version ami
  .github/test-infra/aws/rke2/data.tf
  .github/test-infra/aws/rke2/main.tf
  .github/test-infra/aws/rke2/terraform.tfvars
Due: codespell

rm var declaration
  .github/test-infra/aws/rke2/variables.tf
Due: codespell

add missing `.image_id`
  .github/test-infra/aws/rke2/main.tf
Due: codespell
