Repository defenseunicorns/uds-core: changes, and which lint-staged commands are due for each by the changed paths.
All: codespell, yamllint -c .yamllint --no-warnings, npx pepr format --validate-only

.lintstagedrc.json:

{
    "*": [
        "codespell"
    ],
    "*.yaml": [
        "yamllint -c .yamllint --no-warnings"
    ],
    "*.ts": [
        "npx pepr format --validate-only"
    ]
}

fix: use boltdb-shipper store
  src/loki/values/values.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

fix: use boltdb-shipper store (#779)
  src/loki/values/values.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

chore: use kfc WatchPhase type
  src/pepr/operator/controllers/exemptions/exemptions.spec.ts
  src/pepr/operator/controllers/exemptions/exemptions.ts
Due: codespell, npx pepr format --validate-only

chore: add uds-runtime to core
  packages/standard/zarf.yaml
  src/runtime/README.md
  src/runtime/tasks.yaml
  src/runtime/values/unstable.yaml
  src/runtime/zarf.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

chore: docs and tag renovate [ci skip]
  README.md
  docs/application-baseline.md
  src/runtime/zarf.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

chore: fix dupe doc [ci skip]
  docs/application-baseline.md
Due: codespell

chore: update to latest release, optional runtime
  bundles/k3d-standard/uds-bundle.yaml
  packages/standard/zarf.yaml
  src/runtime/values/unstable.yaml
  src/runtime/zarf.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

chore: add validation of authservice
  src/runtime/tasks.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

docs: note optional in docs
  docs/application-baseline.md
Due: codespell

chore: add uds-runtime as an optional component in core (#788)
  README.md
  bundles/k3d-standard/uds-bundle.yaml
  docs/application-baseline.md
  packages/standard/zarf.yaml
  src/runtime/README.md
  src/runtime/tasks.yaml
  src/runtime/zarf.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

chore: use kfc WatchPhase enum (#787)
  src/pepr/operator/controllers/exemptions/exemptions.spec.ts
  src/pepr/operator/controllers/exemptions/exemptions.ts
Due: codespell, npx pepr format --validate-only

wip: working concurrent auth config management
  package-lock.json
  package.json
  src/pepr/operator/controllers/keycloak/authservice/authservice.ts
  src/pepr/operator/controllers/keycloak/authservice/config.spec.ts
  src/pepr/operator/controllers/keycloak/authservice/config.ts
  src/pepr/uds-operator-config/values.yaml
  tasks/create.yaml
Due: codespell, yamllint -c .yamllint --no-warnings, npx pepr format --validate-only

fix: package-log
  package-lock.json
Due: codespell

chore: add runtime group to renovate config
  renovate.json
Due: codespell

chore: add runtime group to renovate config (#799)
  renovate.json
Due: codespell

chore: fix github-actions renovate
  renovate.json
Due: codespell

Update renovate.json
  renovate.json
Due: codespell

chore: fix github-actions renovate (#800)
  renovate.json
Due: codespell

Added getting started blurb
  CONTRIBUTING.md
Due: codespell

fix: cleanup readme, create pepr policy doc
  docs/configuration/pepr-policies-table.md
  docs/configuration/pepr-policies.md
  docs/configuration/uds-configure-policy-exemptions.md
  docs/configuration/uds-user-groups.md
  src/pepr/policies/README.md
Due: codespell

chore: typo in readme
  src/pepr/policies/README.md
Due: codespell

feat: delete VirtualService and ServiceEntry on failure
  src/pepr/operator/controllers/utils.ts
  src/pepr/operator/reconcilers/index.spec.ts
  src/pepr/operator/reconcilers/index.ts
Due: codespell, npx pepr format --validate-only

chore: pr feedback
  src/vector/Dockerfile
  src/vector/README.md
Due: codespell

Added image workaround for dev-setup, getting started notes
  .vscode/settings.json
  CONTRIBUTING.md
  tasks.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

initial refactor of iac to support multiple distributions make shared terraform more dry make irsa conditional when provisioning s3
  .github/bundles/eks/uds-bundle.yaml
  .github/bundles/eks/uds-config.yaml
  .github/bundles/rke2/uds-bundle.yaml
  .github/bundles/rke2/uds-config.yaml
  .github/test-infra/aws/eks/main.tf
  .github/test-infra/aws/eks/outputs.tf
  .github/test-infra/aws/eks/variables.tf
  .github/test-infra/aws/eks/versions.tf
  .github/test-infra/aws/modules/storage/irsa.tf
  .github/test-infra/aws/modules/storage/irsa/data.tf
  .github/test-infra/aws/modules/storage/irsa/main.tf
  .github/test-infra/aws/modules/storage/irsa/outputs.tf
  .github/test-infra/aws/modules/storage/irsa/variables.tf
  .github/test-infra/aws/modules/storage/irsa/versions.tf
  .github/test-infra/aws/modules/storage/main.tf
  .github/test-infra/aws/modules/storage/outputs.tf
  .github/test-infra/aws/modules/storage/variables.tf
  .github/test-infra/aws/modules/storage/versions.tf
Due: codespell, yamllint -c .yamllint --no-warnings

wrote changes to wrong file [ci skip]
  .github/test-infra/aws/eks/versions.tf
Due: codespell

update gitignore
  .gitignore
Due: codespell

initial commit of minimal rke2 terraform update paths in eks iac maru task
  .github/test-infra/aws/rke2/data.tf
  .github/test-infra/aws/rke2/main.tf
  .github/test-infra/aws/rke2/outputs.tf
  .github/test-infra/aws/rke2/scripts/user_data.sh
  .github/test-infra/aws/rke2/versions.tf
  .github/workflows/test-eks.yaml
  tasks/iac.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

chore: update doc
  docs/configuration/pepr-policies.md
Due: codespell

[ci skip] making things cleaner
  .github/test-infra/aws/modules/storage/irsa.tf
  .github/test-infra/aws/modules/storage/main.tf
Due: codespell

update nightly workflow trigger paths
  .github/workflows/nightly-testing.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

feat: add support for keycloak saml attributes
  docs/configuration/uds-operator.md
  src/pepr/operator/crd/validators/package-validator.spec.ts
  src/pepr/operator/crd/validators/package-validator.ts
Due: codespell, npx pepr format --validate-only

[ci skip] rm old iac dir
  .github/test-infra/buckets-iac/loki.tf
  .github/test-infra/buckets-iac/main.tf
  .github/test-infra/buckets-iac/output.tf
  .github/test-infra/buckets-iac/variables.tf
  .github/test-infra/buckets-iac/velero.tf
Due: codespell

feat: exposes tls version for dev bundles
  bundles/k3d-slim-dev/uds-bundle.yaml
  bundles/k3d-standard/uds-bundle.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

fix eks tf
  .github/test-infra/aws/modules/storage/irsa/variables.tf
  .github/test-infra/aws/modules/storage/main.tf
Due: codespell

feat: exposes tls version for dev bundles (#809)
  bundles/k3d-slim-dev/uds-bundle.yaml
  bundles/k3d-standard/uds-bundle.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

pass `permissions_boundary_name` as input
  .github/test-infra/aws/eks/main.tf
Due: codespell

add `PermissionsBoundary` default tag
  .github/test-infra/aws/eks/providers.tf
Due: codespell

update outputs
  tasks/iac.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

feat: add support for keycloak saml attributes (#806)
  docs/configuration/uds-operator.md
  src/pepr/operator/crd/validators/package-validator.spec.ts
  src/pepr/operator/crd/validators/package-validator.ts
Due: codespell, npx pepr format --validate-only
