Repository defenseunicorns/uds-core: changes, and which lint-staged commands are due for each by the changed paths.
All: codespell, yamllint -c .yamllint --no-warnings, npx pepr format --validate-only

chore: update renovate config/values to match all neuvector images
  renovate.json
  src/neuvector/values/registry1-values.yaml
  src/neuvector/values/unicorn-values.yaml
  src/neuvector/values/upstream-values.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

fix: pre-commit linting (#703)
  .codespellrc
  .husky/pre-commit
  .lintstagedrc.json
  .yamllint
  CONTRIBUTING.md
  bundles/k3d-slim-dev/README.md
  bundles/k3d-standard/README.md
  compliance/oscal-assessment-results.yaml
  package-lock.json
  package.json
  src/istio/oscal-component.yaml
  src/velero/README.md
  src/velero/oscal-component.yaml
  src/velero/tasks.yaml
  tasks/lint.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

chore: helm chart update [skip ci]
  src/vector/common/zarf.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

chore: update renovate config/values to match all neuvector images (#755)
  renovate.json
  src/neuvector/values/registry1-values.yaml
  src/neuvector/values/unicorn-values.yaml
  src/neuvector/values/upstream-values.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

Bump colima memory recommendation
  docs/deployment/uds-deploy.md
Due: codespell

docs: bump colima cpu suggestion
  docs/deployment/uds-deploy.md
Due: codespell

chore: custom Pepr build
  tasks/create.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

docs: bump colima cpu suggestion (#759)
  docs/deployment/uds-deploy.md
Due: codespell

feat: have PEPR_CUSTOM_IMAGE override FLAVOR
  tasks/create.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

wip: rework debounce and testing
  src/pepr/operator/controllers/keycloak/authservice/authservice.spec.ts
  src/pepr/operator/controllers/keycloak/authservice/authservice.ts
  src/pepr/operator/controllers/keycloak/authservice/config.spec.ts
  src/pepr/operator/controllers/keycloak/authservice/config.ts
Due: codespell, npx pepr format --validate-only

chore: updates
  src/pepr/zarf.yaml
  src/vector/README.md
  src/vector/common/zarf.yaml
  src/vector/values/registry1-values.yaml
  src/vector/values/unicorn-values.yaml
  src/vector/values/upstream-values.yaml
  src/vector/values/values.yaml
  src/vector/zarf.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

Update tasks/create.yaml
  tasks/create.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

feat: allow service ports to be overridden in test bundles
  bundles/k3d-slim-dev/uds-bundle.yaml
  bundles/k3d-standard/uds-bundle.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

update docs
  bundles/k3d-standard/README.md
Due: codespell

correct docs
  bundles/k3d-slim-dev/README.md
  bundles/k3d-standard/README.md
Due: codespell

normalize docs
  bundles/k3d-slim-dev/README.md
Due: codespell

chore: docs + labels for collector
  src/vector/README.md
  src/vector/values/values.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

chore: task for custom pepr
  tasks/create.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

chore: task for custom pepr (#766)
  tasks/create.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

docs: reflect that we are no longer using haproxy in uds-k3d-* bundles
  bundles/k3d-slim-dev/README.md
  bundles/k3d-standard/README.md
Due: codespell

docs: inital commit for dns
  docs/deployment/dns.md
Due: codespell

remove default
  bundles/k3d-slim-dev/uds-bundle.yaml
  bundles/k3d-standard/uds-bundle.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

chore: create pepr policy table doc
  docs/configuration/pepr-policies-table.md
Due: codespell

docs update
  docs/deployment/dns.md
Due: codespell

rm section
  docs/deployment/dns.md
Due: codespell

lint fix
  docs/deployment/dns.md
Due: codespell

fix: labelling, docs, grafana telemetry, pepr action
  src/grafana/values/values.yaml
  src/pepr/zarf.yaml
  src/vector/README.md
  src/vector/values/values.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

feedback
  docs/deployment/dns.md
Due: codespell

nit: wording
  docs/deployment/dns.md
Due: codespell

chore: remove unused neuvector exporter
  src/neuvector/common/zarf.yaml
  src/neuvector/values/registry1-monitor-values.yaml
  src/neuvector/values/unicorn-monitor-values.yaml
  src/neuvector/values/upstream-monitor-values.yaml
  src/neuvector/zarf.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

chore(deps): update uds-identity-config version to 0.6.3
  src/keycloak/chart/values.yaml
  src/keycloak/tasks.yaml
  src/keycloak/zarf.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

chore(deps): update uds-identity-config version to 0.6.3 (#772)
  src/keycloak/chart/values.yaml
  src/keycloak/tasks.yaml
  src/keycloak/zarf.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

chore: remove unused neuvector exporter (#768)
  src/neuvector/common/zarf.yaml
  src/neuvector/values/registry1-monitor-values.yaml
  src/neuvector/values/unicorn-monitor-values.yaml
  src/neuvector/values/upstream-monitor-values.yaml
  src/neuvector/zarf.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

change wording
  docs/deployment/dns.md
Due: codespell

chore: track k3d version, update
  .github/actions/debug-output/action.yaml
  .github/actions/setup/action.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

feat: allow service ports to be overridden in test bundles (#765)
  bundles/k3d-slim-dev/README.md
  bundles/k3d-slim-dev/uds-bundle.yaml
  bundles/k3d-standard/README.md
  bundles/k3d-standard/uds-bundle.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

Validate packages with full resource name
  src/authservice/common/zarf.yaml
  src/grafana/common/zarf.yaml
  src/keycloak/common/zarf.yaml
  src/loki/common/zarf.yaml
  src/metrics-server/common/zarf.yaml
  src/neuvector/common/zarf.yaml
  src/prometheus-stack/common/zarf.yaml
  src/promtail/common/zarf.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

better wording
  docs/deployment/dns.md
Due: codespell

fix: validate packages using full resource name (#775)
  src/authservice/common/zarf.yaml
  src/grafana/common/zarf.yaml
  src/keycloak/common/zarf.yaml
  src/loki/common/zarf.yaml
  src/metrics-server/common/zarf.yaml
  src/neuvector/common/zarf.yaml
  src/prometheus-stack/common/zarf.yaml
  src/promtail/common/zarf.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

Path conditions:
  codespell: any of: *
  yamllint -c .yamllint --no-warnings: any of: *.yaml
  npx pepr format --validate-only: any of: *.ts
