Repository defenseunicorns/uds-core: changes, and which lint-staged commands are due for each by the changed paths.
All: codespell, yamllint -c .yamllint --no-warnings, npx pepr format --validate-only

feature gate for turtle mode
  src/pepr/config.ts
  src/pepr/operator/reconcilers/index.spec.ts
  src/pepr/operator/reconcilers/index.ts
  src/pepr/uds-operator-config/values.yaml
  src/pepr/zarf.yaml
Due: codespell, yamllint -c .yamllint --no-warnings, npx pepr format --validate-only

correct tf outputs
  .github/test-infra/aws/eks/outputs.tf
Due: codespell

hopefully this is the last one
  .github/test-infra/aws/eks/outputs.tf
Due: codespell

chore: update doc
  docs/configuration/pepr-policies.md
Due: codespell

chore: pr cleanup
  docs/configuration/pepr-policies.md
Due: codespell

chore: pepr policies doc table (#803)
  docs/configuration/pepr-policies.md
  docs/configuration/uds-configure-policy-exemptions.md
  docs/configuration/uds-user-groups.md
  src/pepr/policies/README.md
Due: codespell

fix: update size of keycloak PVCs, fix EKS IAC issues
  .github/bundles/uds-bundle.yaml
  .gitignore
  src/keycloak/chart/values.yaml
  tasks/iac.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

Started on secret watch/mutator
  src/pepr/operator/index.ts
  src/pepr/operator/secrets.ts
  tasks.yaml
Due: codespell, yamllint -c .yamllint --no-warnings, npx pepr format --validate-only

get rid of sed experiment
  tasks.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

fix: ensure istio sidecar is killed if job fails
  src/pepr/istio/index.ts
Due: codespell, npx pepr format --validate-only

chore: update table links
  docs/configuration/pepr-policies.md
Due: codespell

chore: update table
  docs/configuration/pepr-policies.md
Due: codespell

chore: pepr policy doc (#814)
  docs/configuration/pepr-policies.md
Due: codespell

chore: revert default size change, update doc
  docs/deployment/prerequisites.md
  src/keycloak/chart/values.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

chore: pin httpbin
  src/test/app-admin.yaml
  src/test/app-authservice-tenant.yaml
  src/test/zarf.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

fix: version
  src/test/app-admin.yaml
  src/test/app-authservice-tenant.yaml
  src/test/zarf.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

fix: revert test app version to fix CI failures (#815)
  src/test/app-admin.yaml
  src/test/app-authservice-tenant.yaml
  src/test/zarf.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

fix: ensure istio sidecar is killed if job fails (#813)
  src/pepr/istio/index.ts
Due: codespell, npx pepr format --validate-only

fix: eks iac issues, document storage class pre-reqs (#812)
  .github/bundles/uds-bundle.yaml
  .gitignore
  docs/deployment/prerequisites.md
  tasks/iac.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

feat: add frozen uds-core slim package
  .gitignore
  packages/frozen-dev/README.md
  packages/frozen-dev/freeze.sh
  packages/frozen-dev/zarf.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

lint
  packages/frozen-dev/zarf.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

chore: add uds-runtime as an optional component in core (#788)
  README.md
  bundles/k3d-standard/uds-bundle.yaml
  docs/application-baseline.md
  packages/standard/zarf.yaml
  src/runtime/README.md
  src/runtime/tasks.yaml
  src/runtime/zarf.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

chore: use kfc WatchPhase enum (#787)
  src/pepr/operator/controllers/exemptions/exemptions.spec.ts
  src/pepr/operator/controllers/exemptions/exemptions.ts
Due: codespell, npx pepr format --validate-only

chore: add runtime group to renovate config (#799)
  renovate.json
Due: codespell

chore: fix github-actions renovate (#800)
  renovate.json
Due: codespell

feat: exposes tls version for dev bundles (#809)
  bundles/k3d-slim-dev/uds-bundle.yaml
  bundles/k3d-standard/uds-bundle.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

feat: add support for keycloak saml attributes (#806)
  docs/configuration/uds-operator.md
  src/pepr/operator/crd/validators/package-validator.spec.ts
  src/pepr/operator/crd/validators/package-validator.ts
Due: codespell, npx pepr format --validate-only

address feedback
  docs/deployment/dns.md
Due: codespell

docs: add dns setup (#767)
  bundles/k3d-slim-dev/README.md
  bundles/k3d-standard/README.md
  docs/deployment/dns.md
Due: codespell

spelling
  src/pepr/config.ts
Due: codespell, npx pepr format --validate-only

Linter fix
  src/pepr/operator/secrets.ts
Due: codespell, npx pepr format --validate-only

linter
  src/pepr/operator/secrets.ts
Due: codespell, npx pepr format --validate-only

Path conditions:
  codespell: any of: *
  yamllint -c .yamllint --no-warnings: any of: *.yaml
  npx pepr format --validate-only: any of: *.ts
