Repository defenseunicorns/uds-core: changes, and which lint-staged commands are due for each by the changed paths.
All: codespell, yamllint -c .yamllint --no-warnings, npx pepr format --validate-only

.lintstagedrc.json:

{
    "*": [
        "codespell"
    ],
    "*.yaml": [
        "yamllint -c .yamllint --no-warnings"
    ],
    "*.ts": [
        "npx pepr format --validate-only"
    ]
}

run `fix-license`
  .github/test-infra/azure/aks/main.tf
  .github/test-infra/azure/aks/networking.tf
  .github/test-infra/azure/aks/outputs.tf
  .github/test-infra/azure/aks/storage.tf
  .github/test-infra/azure/aks/uds-config.tf
  .github/test-infra/azure/aks/variables.tf
  .github/test-infra/azure/aks/versions.tf
  .github/workflows/test-aks.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

chore: ensure http2 watch config is used by internal exemption watch
  src/pepr/policies/index.ts
  src/pepr/uds-operator-config/values.yaml
Due: codespell, yamllint -c .yamllint --no-warnings, npx pepr format --validate-only

chore: ensure http2 watch config is used by internal exemption watch (#909)
  src/pepr/policies/index.ts
  src/pepr/uds-operator-config/values.yaml
Due: codespell, yamllint -c .yamllint --no-warnings, npx pepr format --validate-only

refactor to support separate workflows
  .github/test-infra/aws/eks/uds-config.tf
  .github/test-infra/aws/rke2/uds-config.tf
  .github/test-infra/azure/aks/uds-config.tf
  .github/workflows/nightly-testing.yaml
  .github/workflows/test-aks.yaml
  .github/workflows/test-eks.yaml
  .github/workflows/test-rke2.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

add `CLOUD` argument to `Create IaC` tasks
  .github/workflows/test-aks.yaml
  .github/workflows/test-eks.yaml
  .github/workflows/test-rke2.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

cleanup copy/pasta resource
  .github/test-infra/aws/eks/uds-config.tf
  .github/test-infra/aws/rke2/uds-config.tf
Due: codespell

fix: cyclic
  tasks/test.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

fix: gitignore
  .gitignore
Due: codespell

chore: folders
  .gitignore
Due: codespell

fix: istio proxy exiting early when Pod has restart policy
  src/pepr/istio/index.ts
Due: codespell, npx pepr format --validate-only

lint
  src/pepr/istio/index.ts
Due: codespell, npx pepr format --validate-only

linting fix
  .github/workflows/test-eks.yaml
  .github/workflows/test-rke2.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

substr storage account name
  .github/test-infra/azure/aks/storage.tf
Due: codespell

change workflow titles
  .github/workflows/test-aks.yaml
  .github/workflows/test-eks.yaml
  .github/workflows/test-rke2.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

fix: istio proxy exiting early when Pod has restart policy (#914)
  src/pepr/istio/index.ts
Due: codespell, npx pepr format --validate-only

update lula version
  .github/actions/setup/action.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

rm old workflow
  .github/workflows/nightly-testing.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

fix: don't add duplicate policy names to `uds-core.pepr.dev/mutated` annotation
  src/pepr/policies/common.ts
Due: codespell, npx pepr format --validate-only

add rollback secret test
  package-lock.json
  src/pepr/operator/controllers/keycloak/authservice/config.spec.ts
  src/pepr/operator/controllers/keycloak/authservice/config.ts
Due: codespell, npx pepr format --validate-only

rm initcontainer override
  .github/bundles/aks/uds-bundle.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

Update src/pepr/policies/common.ts
  src/pepr/policies/common.ts
Due: codespell, npx pepr format --validate-only

lint fix
  .github/bundles/aks/uds-bundle.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

change validation promtail to vector
  compliance/validations/istio/secure-communication-with-istiod/validation.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

add uds-runtime namespace
  compliance/validations/istio/secure-communication-with-istiod/validation.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

chore: add the scorecard workflow
  .github/workflows/scorecard.yaml
  README.md
Due: codespell, yamllint -c .yamllint --no-warnings

trigger new run
  .github/test-infra/aws/eks/main.tf
  .github/test-infra/aws/rke2/irsa.tf
Due: codespell

fix: don't add duplicate policy names to `uds-core.pepr.dev/mutated` annotation (#916)
  src/pepr/policies/common.ts
Due: codespell, npx pepr format --validate-only

update threshold
  compliance/oscal-assessment-results.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

add `CLOUD` arg to destroy tasks
  .github/workflows/test-eks.yaml
  .github/workflows/test-rke2.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

add service patch for loki
  pepr.ts
  src/loki/values/values.yaml
  src/pepr/patches/index.ts
  src/pepr/patches/loki.ts
Due: codespell, yamllint -c .yamllint --no-warnings, npx pepr format --validate-only

reset threshold as control prune to fedramp moderate il4
  compliance/oscal-assessment-results.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

reject previous promises
  src/pepr/operator/controllers/keycloak/authservice/config.ts
Due: codespell, npx pepr format --validate-only

Update .github/bundles/aks/uds-bundle.yaml
  .github/bundles/aks/uds-bundle.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

fix neuvector values
  .github/bundles/aks/uds-bundle.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

add debug output step to all distros
  .github/actions/debug-output/action.yaml
  .github/test-infra/aws/rke2/scripts/get-kubeconfig.sh
  .github/workflows/test-aks.yaml
  .github/workflows/test-eks.yaml
  .github/workflows/test-rke2.yaml
  tasks/iac.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

add mkdir command
  .github/test-infra/aws/rke2/scripts/get-kubeconfig.sh
Due: codespell

fix weird import things
  src/pepr/logger.ts
  src/pepr/patches/index.ts
  src/pepr/patches/loki.ts
Due: codespell, npx pepr format --validate-only

add `-p` to mkidr
  .github/test-infra/aws/rke2/scripts/get-kubeconfig.sh
Due: codespell
