Repository defenseunicorns/uds-core: changes, and which lint-staged commands are due for each by the changed paths.
All: codespell, yamllint -c .yamllint --no-warnings, npx pepr format --validate-only

fix oci
  tasks/deploy.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

fixup version var
  .github/workflows/checkpoint.yaml
  tasks/create.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

fix version
  packages/checkpoint-dev/zarf.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

slim istio validate
  .github/workflows/checkpoint.yaml
  src/istio/tasks.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

add npm ci
  .github/workflows/checkpoint.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

make a slim dev test
  .github/workflows/checkpoint.yaml
  .github/workflows/slim-dev-test.yaml
  tasks.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

fix save logs
  .github/workflows/checkpoint.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

lint
  tasks.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

swap back checkpoint workflow
  .github/workflows/checkpoint.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

fix: update timer for deploy
  .github/workflows/test-eks.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

Fix: type
  .github/bundles/uds-config.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

fix: try try again
  tasks/iac.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

fix: something
  tasks/iac.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

fix: ignore workflow changes for oscal lint
  .github/workflows/lint-oscal.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

fix: irsa role
  .github/bundles/uds-bundle.yaml
  .github/bundles/uds-config.yaml
  .github/test-infra/rds-iac/grafana.tf
  .github/test-infra/rds-iac/main.tf
  .github/test-infra/rds-iac/output.tf
  .github/test-infra/rds-iac/variables.tf
  .github/workflows/test-eks.yaml
  bundles/k3d-standard/uds-bundle.yaml
  packages/standard/zarf.yaml
  tasks/iac.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

fix: my mistakes
  bundles/k3d-standard/uds-bundle.yaml
  packages/standard/zarf.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

chore: add e2e playwright tests for grafana
  .eslintrc.json
  .github/actions/save-logs/action.yaml
  .github/workflows/test.yaml
  .gitignore
  CONTRIBUTING.md
  e2e/playwright/auth.setup.ts
  e2e/playwright/grafana.test.ts
  e2e/playwright/package-lock.json
  e2e/playwright/package.json
  e2e/playwright/playwright.config.ts
  e2e/playwright/tsconfig.json
  e2e/playwright/uds.config.ts
  renovate.json
  src/grafana/tasks.yaml
  src/keycloak/common/zarf.yaml
  tasks/deploy.yaml
  tasks/test.yaml
  tsconfig.json
Due: codespell, yamllint -c .yamllint --no-warnings, npx pepr format --validate-only

chore: add e2e tests to upgrade
  tasks/test.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

fix: override path
  src/keycloak/common/zarf.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

fix: refactor the storage module for sharing across distros, nest irsa module in storage module, make all dynamic based on var
  .github/test-infra/aws/eks/main.tf
  .github/test-infra/aws/eks/outputs.tf
  .github/test-infra/aws/eks/variables.tf
  .github/test-infra/aws/modules/storage/irsa/data.tf
  .github/test-infra/aws/modules/storage/irsa/main.tf
  .github/test-infra/aws/modules/storage/irsa/outputs.tf
  .github/test-infra/aws/modules/storage/irsa/variables.tf
  .github/test-infra/aws/modules/storage/main.tf
  .github/test-infra/aws/modules/storage/outputs.tf
  .github/test-infra/aws/modules/storage/variables.tf
  .github/test-infra/aws/modules/storage/versions.tf
Due: codespell

Update values.schema.json
  src/keycloak/chart/values.schema.json
Due: codespell

revert to old tf for eks s3
  .github/test-infra/aws/eks/loki.tf
  .github/test-infra/aws/eks/main.tf
  .github/test-infra/aws/eks/outputs.tf
  .github/test-infra/aws/eks/providers.tf
  .github/test-infra/aws/eks/variables.tf
  .github/test-infra/aws/eks/velero.tf
Due: codespell

tf format
  .github/test-infra/aws/eks/variables.tf
Due: codespell

no longer use shared s3 module
  .github/test-infra/aws/modules/storage/irsa/data.tf
  .github/test-infra/aws/modules/storage/irsa/main.tf
  .github/test-infra/aws/modules/storage/irsa/outputs.tf
  .github/test-infra/aws/modules/storage/irsa/variables.tf
  .github/test-infra/aws/modules/storage/irsa/versions.tf
  .github/test-infra/aws/modules/storage/main.tf
  .github/test-infra/aws/modules/storage/outputs.tf
  .github/test-infra/aws/modules/storage/variables.tf
  .github/test-infra/aws/modules/storage/versions.tf
Due: codespell

fix userdata, get aws ccm working
  .github/test-infra/aws/rke2/main.tf
  .github/test-infra/aws/rke2/scripts/key_id.sh
  .github/test-infra/aws/rke2/scripts/key_modulus.sh
  .github/test-infra/aws/rke2/scripts/user_data.sh
Due: codespell

required ira and iam resources for the rke2
  .github/test-infra/aws/rke2/iam.tf
  .github/test-infra/aws/rke2/irsa.tf
Due: codespell

add rke2 storage module, update outputs
  .github/test-infra/aws/rke2/outputs.tf
  .github/test-infra/aws/rke2/storage.tf
Due: codespell

add statestore module, required for rke2 oidc config
  .github/test-infra/aws/rke2/modules/statestore/main.tf
  .github/test-infra/aws/rke2/modules/statestore/outputs.tf
  .github/test-infra/aws/rke2/modules/statestore/variables.tf
Due: codespell

add a module for rke2 s3 and irsa resources
  .github/test-infra/aws/rke2/modules/storage/irsa/data.tf
  .github/test-infra/aws/rke2/modules/storage/irsa/main.tf
  .github/test-infra/aws/rke2/modules/storage/irsa/outputs.tf
  .github/test-infra/aws/rke2/modules/storage/irsa/variables.tf
  .github/test-infra/aws/rke2/modules/storage/main.tf
  .github/test-infra/aws/rke2/modules/storage/outputs.tf
  .github/test-infra/aws/rke2/modules/storage/variables.tf
  .github/test-infra/aws/rke2/modules/storage/versions.tf
Due: codespell

update iac task to support mutiple distros
  .github/workflows/test-eks.yaml
  tasks/iac.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

fix: incorrect var names in eks uds core bundle
  .github/bundles/eks/uds-bundle.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

add metallb manifest
  .github/test-infra/aws/rke2/metallb.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

chore: template update for kc
  src/keycloak/chart/templates/secret-admin-password.yaml
  src/keycloak/chart/templates/statefulset.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

add newlineto outputs.tf
  .github/test-infra/aws/eks/outputs.tf
Due: codespell

fix: more updates
  .github/bundles/uds-bundle.yaml
  .github/bundles/uds-config.yaml
  .github/test-infra/rds-iac/grafana.tf
  .github/test-infra/rds-iac/main.tf
  .github/test-infra/rds-iac/output.tf
  .github/test-infra/rds-iac/variables.tf
  .gitignore
  bundles/k3d-standard/README.md
  bundles/k3d-standard/uds-bundle.yaml
  bundles/k3d-standard/uds-ha-config.yaml
  docs/configuration/resource-configuration-and-ha.md
  src/grafana/chart/templates/secret-postgres.yaml
  src/grafana/chart/values.yaml
  tasks/iac.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

fix: include cleanup tasks
  .github/workflows/test-eks.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

update bundles
  .github/bundles/eks/uds-config.yaml
  .github/bundles/rke2/uds-bundle.yaml
  .github/bundles/rke2/uds-config.yaml
  .github/bundles/uds-bundle.yaml
  .github/bundles/uds-config.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

add variables
  .github/test-infra/aws/rke2/terraform.tfvars
  .github/test-infra/aws/rke2/variables.tf
Due: codespell

update tasks/iac.yaml, add workflow for rke2
  .github/workflows/nightly-testing.yaml
  .github/workflows/test-rke2.yaml
  tasks/iac.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

update ami and paths to bundles
  .github/test-infra/aws/rke2/terraform.tfvars
  .github/workflows/test-eks.yaml
  .github/workflows/test-rke2.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

Path conditions:
  codespell: any of: *
  yamllint -c .yamllint --no-warnings: any of: *.yaml
  npx pepr format --validate-only: any of: *.ts
