Repository defenseunicorns/uds-core: changes, and which lint-staged commands are due for each by the changed paths.
All: codespell, yamllint -c .yamllint --no-warnings, npx pepr format --validate-only

chore: password for kc admin
  tasks/utils.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

chore: add license
  .github/actions/save-logs/action.yaml
  e2e/playwright/auth.setup.ts
  e2e/playwright/grafana.test.ts
  e2e/playwright/playwright.config.ts
  e2e/playwright/uds.config.ts
Due: codespell, yamllint -c .yamllint --no-warnings, npx pepr format --validate-only

layer doc fix
  CONTRIBUTING.md
Due: codespell

remove extra
  e2e/playwright/package.json
Due: codespell

relocate playwright artifacts
  .github/actions/save-logs/action.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

chore: increase timeout
  e2e/playwright/grafana.test.ts
  e2e/playwright/playwright.config.ts
Due: codespell, npx pepr format --validate-only

fix: broken readme link
  README.md
Due: codespell

fix: broken readme link (#899)
  README.md
Due: codespell

fix: location of docs for new docsite
  docs/generated/_index.md
  docs/reference/UDS Core/custom-resources/exemptions-v1alpha1-cr.md
  docs/reference/UDS Core/custom-resources/packages-v1alpha1-cr.md
  src/pepr/docs-gen/main.ts
Due: codespell, npx pepr format --validate-only

chore: fix pre commit lint
  .husky/pre-commit
Due: codespell

fix: move to configuration dir
  docs/reference/configuration/custom-resources/exemptions-v1alpha1-cr.md
  docs/reference/configuration/custom-resources/packages-v1alpha1-cr.md
  src/pepr/docs-gen/main.ts
Due: codespell, npx pepr format --validate-only

chore: update licensing file
  LICENSING.md
Due: codespell

chore: update codeowners and codespell
  .codespellrc
  CODEOWNERS
Due: codespell

Update docs structure for new site
  adrs/.gitkeep
  adrs/0001-record-architecture-decisions.md
  adrs/0002-uds-core-functional-layers.md
  docs/application-baseline.md
  docs/configuration/_index.md
  docs/configuration/istio/_index.md
  docs/deployment/_index.md
  docs/deployment/uds-deploy.md
  docs/development/_index.md
  docs/reference/UDS Core/distribution-support.md
  docs/reference/UDS Core/dns.md
  docs/reference/UDS Core/flavor-specific-development-notes.md
  docs/reference/UDS Core/overview.md
  docs/reference/UDS Core/prerequisites.md
  docs/reference/configuration/ingress.md
  docs/reference/configuration/pepr-policies.md
  docs/reference/configuration/resource-configuration-and-ha.md
  docs/reference/configuration/uds-configure-policy-exemptions.md
  docs/reference/configuration/uds-monitoring-metrics.md
  docs/reference/configuration/uds-operator.md
  docs/reference/configuration/uds-user-groups.md
  docs/reference/deployment/flavors.md
Due: codespell

Update ingress.md
  docs/reference/configuration/ingress.md
Due: codespell

sudo time
  .github/actions/save-logs/action.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

chore(docs): update doc structure for site refresh (#895)
  adrs/.gitkeep
  adrs/0001-record-architecture-decisions.md
  adrs/0002-uds-core-functional-layers.md
  docs/application-baseline.md
  docs/configuration/_index.md
  docs/configuration/istio/_index.md
  docs/deployment/_index.md
  docs/deployment/uds-deploy.md
  docs/development/_index.md
  docs/reference/UDS Core/distribution-support.md
  docs/reference/UDS Core/dns.md
  docs/reference/UDS Core/flavor-specific-development-notes.md
  docs/reference/UDS Core/overview.md
  docs/reference/UDS Core/prerequisites.md
  docs/reference/configuration/ingress.md
  docs/reference/configuration/pepr-policies.md
  docs/reference/configuration/resource-configuration-and-ha.md
  docs/reference/configuration/uds-configure-policy-exemptions.md
  docs/reference/configuration/uds-monitoring-metrics.md
  docs/reference/configuration/uds-operator.md
  docs/reference/configuration/uds-user-groups.md
  docs/reference/deployment/flavors.md
Due: codespell

chore: init cr doc generation
  docs/reference/configuration/custom-resources/exemptions-v1alpha1-cr.md
  docs/reference/configuration/custom-resources/packages-v1alpha1-cr.md
  package-lock.json
  package.json
  src/pepr/docs-gen/main.ts
  src/pepr/tasks.yaml
Due: codespell, yamllint -c .yamllint --no-warnings, npx pepr format --validate-only

docs link
  README.md
Due: codespell

fix another 404
  docs/reference/configuration/ingress.md
Due: codespell

fix link better
  docs/reference/configuration/ingress.md
Due: codespell

chore: handle upgrade path for functional layers, add doc for usage (#896)
  README.md
  docs/reference/UDS Core/dns.md
  docs/reference/UDS Core/functional-layers.md
  docs/reference/UDS Core/prerequisites.md
  docs/reference/configuration/ingress.md
  docs/reference/configuration/uds-operator.md
  src/istio/common/chart/.helmignore
  src/istio/common/chart/Chart.yaml
  src/istio/common/chart/templates/envoy-filters.yaml
  src/istio/common/chart/templates/peer-authentication.yaml
  src/istio/common/chart/templates/pepr-istio-config.yaml
  src/istio/common/chart/values.yaml
  src/istio/common/zarf.yaml
  src/pepr/zarf.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

chore(docs): update doc structure for site refresh (#895)
  docs/reference/UDS Core/prerequisites.md
Due: codespell

fix: update markdown visability
  src/pepr/docs-gen/main.ts
Due: codespell, npx pepr format --validate-only

fix: update docs
  docs/reference/configuration/custom-resources/exemptions-v1alpha1-cr.md
  docs/reference/configuration/custom-resources/packages-v1alpha1-cr.md
Due: codespell

fix: adr link in func layers doc
  docs/reference/UDS Core/functional-layers.md
Due: codespell

fix: adr link in func layers doc (#903)
  docs/reference/UDS Core/functional-layers.md
Due: codespell

fix: bundle versions
  .github/bundles/eks/uds-bundle.yaml
  .github/bundles/rke2/uds-bundle.yaml
  release-please-config.json
Due: codespell, yamllint -c .yamllint --no-warnings

fix: remove unused dependency fix license lint
  .gitignore
  package-lock.json
  package.json
Due: codespell

chore: align upgrade deploys
  .gitignore
  tasks/deploy.yaml
  tasks/test.yaml
  tasks/utils.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

fix: update path for `pepr-policies`
  src/pepr/policies/README.md
Due: codespell

fix: udpate path to `uds-configure-policy-exemptions.md` in operator readme
  src/pepr/operator/README.md
Due: codespell

docs: fix broken links in uds operator/policy docs (#907)
  src/pepr/operator/README.md
  src/pepr/policies/README.md
Due: codespell

initial commit of IaC, bundle and workflow
  .github/bundles/aks/uds-bundle.yaml
  .github/bundles/aks/uds-config.yaml
  .github/test-infra/azure/aks/main.tf
  .github/test-infra/azure/aks/networking.tf
  .github/test-infra/azure/aks/outputs.tf
  .github/test-infra/azure/aks/storage.tf
  .github/test-infra/azure/aks/uds-config.tf
  .github/test-infra/azure/aks/variables.tf
  .github/test-infra/azure/aks/versions.tf
  .github/workflows/test-aks.yaml
  tasks/iac.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

linting fix
  .github/workflows/test-aks.yaml
Due: codespell, yamllint -c .yamllint --no-warnings

Path conditions:
  codespell: any of: *
  yamllint -c .yamllint --no-warnings: any of: *.yaml
  npx pepr format --validate-only: any of: *.ts
